@import 'global-vars.scss';

.display {
  display: flex;
  align-items: center;
  gap: .5em;
}

.copy {
  width: 2em;
  height: 2em;
  stroke: $color-primary;
  stroke-width: .125em;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  opacity: .7;
}

.copy.finished:hover {
  opacity: 1;
}

.copy.finished:active {
  opacity: .7;
}

.screen {
  padding: 0 .25em;
  background: hsla(145 99% 65% / .1);
  border: .03125rem solid $color-primary;
  font-family: inherit;
  font-size: 2rem;
  line-height: 1.5em;
  color: hsla(145 99% 65% / .6);
  width: 44ch;
  height: 1.5em;
  margin: 0;
  resize: none;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: default;
}

.screen:focus {
  outline: none;
}

.screen::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.screen.finished {
  color: hsl(155 100% 88%);
  text-shadow: 0 0 .1875em $color-primary;
}
