@font-face {
  font-family: Play;
  src: url('/font/play-regular-webfont.woff2') format('woff2'),
       url('/font/play-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
  unicode-range: U+20-7F;
}

@font-face {
  font-family: Play;
  src: url('/font/play-bold-webfont.woff2') format('woff2'),
       url('/font/play-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: optional;
  unicode-range: U+20-7F;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Play, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(30deg, hsla(308, 94%, 24%, 1) 0%, hsla(250, 96%, 12%, 1) 65%, hsla(249, 94%, 2%, 1) 100%) no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
